
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: blueviolet;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;

}

ul{
   margin: 0;
   padding: 0;
   list-style: none; 
}

.header{
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    color: #fff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

.menu-item{
    padding-right: 30px;
}

.menu-link, 
.phone{
    font-size: 24px;
    line-height: 29px;
    font-weight: 800px;
}

.logo-img{
    width: 60px;
}




